body {
    font-family: 'Raleway', cursive;
    background-color: #506971;
    color: #d0c2b6;
}

.banner {
    background: linear-gradient(#506971, #72878d);
    width: 100%;
    height: 130px;
}

.footer {
    background: linear-gradient(#72878d, #506971);
    width: 100%;
    height: 130px;
}
.footerTopLine{
    display: grid;
    grid-template-areas: "title title title title title title title title title title facebook youtube";
}
.footerTitle {
    grid-area: title;
}
.facebookImg{
    height: 35px;
    width: auto;
    grid-area: facebook;
    padding: 15px 0 0 0 ;
}
.youtubeImg{
    height: 35px;
    width: auto;
    grid-area: youtube;
    padding: 15px 5px 0 5px ;
}

.banner_content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner_text {
    text-shadow: 1px 1px 2px black;
    font-size: 25px;
    color: black;
    display: flex;
    align-items: center;
}

#logoImage { 
    
    height: 130px;
    float: left;
}

.projectBanner {
    background-color: #000000;
    height: 425px;
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    grid-template-areas:
        "titleProject titleProject projPhoto"
        "projectSubtitle projectSubtitle projPhoto"

}

.titleProject {
    text-shadow: 1px 1px 2px black;
    position: relative;
    margin: 35px auto 0 75px;
    grid-template-rows: 325px 100px 100px;
    grid-area: titleProject;
}

.projects_image {
    height: 425px;
    margin: -25px 85px 0 0;
    grid-area: projPhoto;
}

.projectSubtitle {
    color: #d0c2b6;
    text-shadow: 1px 1px 2px black;
    margin: 35px auto 0 75px;
    grid-area: projectSubtitle;
}

.maskFormat {
    height: 206px;
    width: 150px;
}
.maskFormat2 {
    height:420px;
}

.maskTop {
    grid-area: maskTop;
    margin: 20px 10px 0 0;

}

.maskBottom {
    grid-area: maskBottom;
    margin: 0 10px 0 0;

}
.maskRight {
    grid-area: maskRight;
    margin: 20px 10px 0 0;

}
.maskBody {
    grid-area: maskBody;
}

.maskTitle {
    grid-area: maskTitle;
    margin: auto;
}


.projectOne {
    display: grid;
    grid-template-rows: 110px auto auto auto;
    grid-template-areas:
        "maskTop maskRight maskTitle"
        "maskTop maskRight maskBody"
        "maskBottom maskRight maskBody"
        "maskBottom maskRight maskBody";
}

.videoTitle {
    grid-area: videoTitle;
}

.videoEmbed {
    grid-area: videoEmbed;
    min-width: 80%;
    height: 500px;
    margin: auto;
}

.videoText {
    grid-area: videoText;
}

.projectTwo {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.home_image {
    position: absolute;
    width: 100%;
    max-width: 1300px;
    height: 832px;
    object-fit: cover;
    object-position: 0 0;
}

.titleFont {
    font-family: 'Marcellus', serif;
}
.titleSize {
    font-size: 80px;
}
.title {
    text-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: right;
    position: relative;
    margin: 0 40px 675px auto;
    z-index: 1;
}
.footerTitleSize{
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    margin: 0 0 0 25px;
    padding: 15px 0 0 0 ;
}
.subtitleSize{
    text-shadow: 1px 1px 2px black;
    font-size: 65px;
    text-align: center;
}
.homeSectionLine{
    border: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #506971, #000000, #506971);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.upcoming_show_banner {
    width: 61%;
    display: block;
    border: solid #000000 3px;
    border-radius: 15px;
    margin: auto;
}

.centerButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.twoColumn {
    display: flex;
    flex-direction: row;
}

.boxPadding{
    padding: 0 25px 0 25px;
}

a:link { text-decoration: none; color: #d0c2b6; }


a:visited { text-decoration: none; color: #d0c2b6; }


a:hover { text-decoration: none; color: #d0c2b6; }


a:active { text-decoration: none; color: #d0c2b6; }



.workshopBanner {
    height: 575px;
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-rows: 325px 100px 100px;
    grid-template-areas:
        "workshopImage workshopTitle workshopTitle"
        "workshopImage synopsis synopsis"
        "workshopImage . button"
}

.workshop_image {
    width: 500px;
    height: 575px;
    object-fit: cover;
    object-position: 100% 0;
    grid-area: workshopImage;
}

.titleWorkshop {
    text-shadow: 1px 1px 2px black;
    position: relative;
    margin: 35px 40px 750px auto;
    grid-area: workshopTitle;
}

.workshopSynopsis{
    text-shadow: 1px 1px 2px black;
    color: #d0c2b6;
    grid-area: synopsis;
}

.partnerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    margin: 25px 0 25px 0;
}

.buttonSpacing {
    justify-self: right;
    align-self: center;
    grid-area: button;
    margin: 0 45px 0 0;
}

.buttonFormat {
    background: linear-gradient(#72878d, #3b4d53);
    box-shadow: 2px 2px 5px #111;    
    font-size: 25px;
    border: solid 2px;
    border-radius: 25px;
    padding: 15px 45px 15px 45px;
}

.resumeButton {
    background: #d0c2b6;
    box-shadow: 2px 2px 5px #111;    
    font-size: 25px;
    border: solid 2px;
    border-radius: 25px;
    padding: 15px 45px 15px 45px;
}

.workshopMain {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        "firstD secondD "
        "thirdD fourthD "
        ". . ";
    grid-template-rows: auto auto;
    justify-content: space-between;
    justify-items: center;
    align-items: top;
}
.firstDay {
    grid-area: firstD;
}
.secondDay {
    grid-area: secondD
}
.thirdDay {
    grid-area: thirdD;
}
.fourthDay {
    grid-area: fourthD;
}

.workshopText {
    text-align: center;
}

.workshopHeader {
    background: #506971;
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px 2px black;
    padding: 1px 0 10px 15px;
    margin: 15px 15px 15px 15px;
    line-height: 0.4;
}

.infoBox{
    background: linear-gradient(#72878d, #3b4d53);
    color: #d0c2b6;
    border: solid #000000;
    border-width:  3px 0 3px 0;
}
.resumeBox{
    background: white;
    color: #000000;
    border: solid #000000;
    border-width:  3px 0 3px 0;
}

.resumeName {
    font-size: 45px;

}

.resumeSubtitle {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

.tableSize {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.tableSpacing {
    border-spacing: 10px;
}
.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-weight: bold;
}


@media only screen and (max-width: 1000px) {
    .banner_text {
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .home_image {
        position: absolute;
        width: 100%;
        max-width: 1300px;
        height: 500px;
        object-fit: cover;
        object-position: 0 0;
    }

    .titleSize {
        font-size: 40px;
    }
    .subtitleSize {
        font-size: 40px;
    }
    .title {
        display: flex;
        justify-content: right;
        position: relative;
        margin: 0 40px 425px auto;
        z-index: 1;
    }
    .titleWorkshop {
        position: relative;
        margin: 0 40px 425px auto;
        grid-area: workshopTitle;
    }
    .upcoming_show_banner {
        width: 61%;
        display: block;
        text-align: center;
        border: solid #000000 2px;
        border-radius: 15px;
        margin: auto;
    }
    .buttonFormat {
        font-size: 15px;
        border-radius: 5px;
        padding: 5px 20px 5px 20px;
    }
    
    .workshopBoxSizing {
        font-size: 10px;
    }
    .workshopHeader {
        font: 15px;
    }
    .partnerBox {
        height: 100px;
        margin: 15px 0 15px 0;
    }
    .workshop_image {
        width: 375px;
        height: 430px;
        object-position: 100% 0;
    }
    .workshopBanner {
        height: 430px;
        width: 100%;
        display: grid;
        flex-direction: row;
        grid-template-rows: 170px 150px 75px;
        grid-template-areas:
            "workshopImage workshopTitle workshopTitle"
            "workshopImage synopsis synopsis"
            "workshopImage . button"
        
    }
    .videoEmbed {
        grid-area: videoEmbed;
        min-width: 80%;
        height: 350px;
        margin: auto;
    }
    .projects_image {
        height: 225px;
        margin: 0 15px 0 0;
        grid-area: projPhoto;
    }
    .projectBanner {
        height: 275px;
    }
    .projectOne {
        display: grid;
        grid-template-rows: 125px auto auto auto;
        grid-template-areas:
            "maskTitle maskTitle maskTitle"
            "maskTop maskBody maskBody"
            "maskBottom maskBody maskBody"
            "maskRight maskBody maskBody";
    }
    .maskTop {
        grid-area: maskTop;
        margin: 20px 10px 10px 0;
    
    }
    
    .maskBottom {
        grid-area: maskBottom;
        margin: 0 10px 10px 0;
    
    }
    .maskRight {
        grid-area: maskRight;
        margin: 0 10px 20px 0;
    }
    .maskFormat {
        height: 206px;
        width: 90%;
    }
    
    .maskFormat2 {
    display: none;
    }
}
@media only screen and (max-width: 600px) {
    .banner_text {
        display: inline;
        margin-top: 30px;
    }
    .home_image {
        position: absolute;
        width: 100%;
        max-width: 1300px;
        height: 400px;
        object-fit: cover;
        object-position: 0 0;
    }
    .titleSize {
        font-size: 30px;
    }
    .subtitleSize {
        font-size: 30px;
    }
    .title {
        display: flex;
        justify-content: right;
        position: relative;
        margin: 0 10px 375px auto;
        z-index: 1;
    }
    .titleWorkshop {
        position: relative;
        margin: 0 10px 375px auto;
        grid-area: workshopTitle;
    }
    .upcoming_show_banner {
        width: 61%;
        display: block;
        text-align: center;
        border: solid #000000 2px;
        border-radius: 15px;
        margin: auto;
    }
    .workshopMain {
        display: flex;
       flex-direction: column;

    }  
    .workshop_image {
        width: 250px;
        height: 280px;
        object-position: 100% 0;
        margin: 0 0 0 -75px;
    }
    .workshopBanner {
        height: 280px;
        width: 100%;
        display: grid;
        flex-direction: row;
        grid-template-rows: 113px 100px 50px;
        grid-template-areas:
            "workshopImage workshopTitle workshopTitle"
            "workshopImage synopsis synopsis"
            "workshopImage . button"
        
    }
    .workshopSynopsis{
        font-size: 10px;
    }
    .twoColumn {
        display: flex;
        flex-direction: column;
    }
    .partnerBox {
        height: 85px;
        margin: 15px 0 15px 0;
    }
    .videoEmbed {
        grid-area: videoEmbed;
        min-width: 80%;
        height: 225px;
        margin: auto;
    }
    .projectSubtitle {
        font-size: 10px;
    }
    .maskFormat {
        height: 206px;
        width: auto;
    }
    
    .maskFormat2 {
        display: block;
        height: 206px;
    }
    
    .maskTop {
        grid-area: maskTop;
        margin: 20px 10px 20px 0;
    
    }
    
    .maskBottom {
        grid-area: maskBottom;
        margin: 20px 10px 20px 0;
    
    }
    .maskRight {
        grid-area: maskRight;
        margin: 20px 10px 20px 0;
    
    }
    

    .projectOne {
        display: grid;
        grid-template-rows: 125px auto auto auto;
        grid-template-areas:
            "maskTitle maskTitle maskTitle"
            "maskBody maskBody maskBody"
            "maskBody maskBody maskBody"
            "maskBottom maskRight maskTop";
    }
    .projects_image {
        display: block;
        height: 150px;
        margin: auto;
        z-index: 1;
    }
    .projectBanner {
        height: 175px;
    }

}

