body {
    font-family: 'Ephesis', cursive;
    background-color: #ebdff2;
}

#home_button {
    border: 5px 100px 5px 5px solid  #b866ee;
    margin-right: 100%;
    border-radius: 50%;
        }

h1 {
    border: 5px 100px 5px 5px solid black;
     border-left:150px solid transparent;
     border-right:150px solid transparent;
    height: 30px;
}