body {
    font-family: 'Raleway', cursive;
    background-color: #506971;
    color: #d0c2b6;
}

.banner {
    background: linear-gradient(#506971, #72878d);
    width: 100%;
    height: 130px;
    
     

}

.banner_content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner_text {
    font-size: 25px;
    color: black;
    display: flex;
    align-items: center;
}

#logoImage { 
    
    height: 130px;
    float: left;
}

.aboutMain {
    display: grid;
    grid-template-rows: auto 1fr 10fr;
    grid-template-areas: "firstAbout photo" "secondAbout photo" "thirdAbout photo";
    justify-content: space-between;
    align-items: top;
}

.about_image {
    width: 350px;
    height: 900px;
    object-fit: cover;
    object-position: 100% 0 ;
    grid-area: photo;
}

.aboutOne {
    grid-area: firstAbout;
}

.aboutTwo {
grid-area: secondAbout;
}

.aboutThree {
    grid-area: thirdAbout;
    }

.projectsMain {
    display: grid;
    grid-template-areas: "projPhoto first" "projPhoto second" "projPhoto .";
    justify-content: space-between;
}

.projectBanner {
    background-color: #000000;
    height: 425px;
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas:
        "titleProject titleProject projPhoto"
        "projectSubtitle . projPhoto"
        ". . projPhoto"
}

.titleProject {
    font-size: 80px;
    position: relative;
    margin: 35px auto 0 75px;
    grid-area: titleProject;
}

.projects_image {
    height: 425px;
    margin: -25px 85px 0 0;
    grid-area: projPhoto;
}

.projectSubtitle {
    color: #d0c2b6;
    margin: 35px auto 0 75px;
    grid-area: projectSubtitle;
}

.projTextOne {
    grid-area: first;
}

.projTextTwo {
    grid-area: second;
}

.home_image {
    position: absolute;
    width: 100%;
    max-width: 1300px;
    height: 832px;
    object-fit: cover;
    object-position: 0 0;
}

.titleFont {
    font-family: 'Marcellus', serif;
}
.titleSize {
    font-size: 80px;
}
.title {
    display: flex;
    justify-content: right;
    position: relative;
    margin: 0 40px 750px auto;
    z-index: 1;
}

#come_see {
    display: grid;
    grid-template-areas: "side banner";
}

#come_see_text {
    margin: 0;
    font-size: 65px;
    text-align: center;
    border: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #506971, #000000, #506971);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.upcoming_show_banner {
    width: 800px;
    border: solid #000000 5px;
    border-radius: 50px;
    margin: 0 25px 0 25px;
    grid-area: banner;
}

.upcoming_show_sidebar {
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



a:link { text-decoration: none; color: #d0c2b6; }


a:visited { text-decoration: none; color: #d0c2b6; }


a:hover { text-decoration: none; color: #d0c2b6; }


a:active { text-decoration: none; color: #d0c2b6; }



.workshopBanner {
    height: 575px;
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-rows: 325px 100px 100px;
    grid-template-areas:
        "workshopImage workshopTitle workshopTitle"
        "workshopImage synopsis ."
        "workshopImage . button"
    
}

.workshop_image {
    width: 500px;
    height: 575px;
    object-fit: cover;
    object-position: 100% 0;
    grid-area: workshopImage;
}

.titleWorkshop {
    position: relative;
    margin: 35px 40px 750px auto;
    grid-area: workshopTitle;
}

.workshopSynopsis{
    color: #d0c2b6;
    grid-area: synopsis;
}

.buttonSpacing {
    justify-self: right;
    align-self: center;
    grid-area: button;
    margin: 0 45px 0 0;

}

.buttonFormat {
    background-color: #d0c2b6;
    font-size: 25px;
    border: solid;
    border-radius: 25px;
    padding: 15px 45px 15px 45px;
}

.workshopMain {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        "firstD secondD "
        "thirdD fourthD "
        ". . ";
    grid-template-rows: auto auto;
    justify-content: space-between;
    justify-items: center;
    align-items: top;
}
.firstDay {
    grid-area: firstD;
}
.secondDay {
    grid-area: secondD
}
.thirdDay {
    grid-area: thirdD;
}
.fourthDay {
    grid-area: fourthD;
}

.workshopText {
    text-align: center;
}

.workshopHeader {
    background: #506971;
    padding: 0 0 5px 15px;
    margin: 0 15px 15px 15px;

}

.infoBox{
    background: linear-gradient(#72878d, #3b4d53);
    color: #d0c2b6;
    border: solid #000000;
    border-width:  3px 0 3px 0;
}
.resumeName {
    font-size: 45px;
}

.contactInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .banner_text {
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .home_image {
        position: absolute;
        width: 100%;
        max-width: 1300px;
        height: 500px;
        object-fit: cover;
        object-position: 0 0;
    }

    .titleSize {
        font-size: 40px;
    }

    .title {
        display: flex;
        justify-content: right;
        position: relative;
        margin: 0 40px 425px auto;
        z-index: 1;
    }
    .titleWorkshop {
        position: relative;
        margin: 0 40px 425px auto;
        grid-area: workshopTitle;
    }
    #come_see {
        display: block;
        flex-direction: row;
    }
    .upcoming_show_banner {
        width: 100%;
        display: block;
        border: solid #000000 2px;
        border-radius: 50px;
        margin: 0;
    }
    #come_see_text {
        margin: 10px 0 10px 0;
        font-size: 30px;
    }
    .buttonFormat {
        font-size: 15px;
        border-radius: 5px;
        padding: 5px 20px 5px 20px;
        margin: 10px 0 10px 0;
    }
    .workshopBoxSizing {
        font-size: 10px;
    }
    .workshopHeader {
        font: 15px;
    }
    .workshop_image {
        width: 375px;
        height: 430px;
        object-position: 100% 0;
    }
    .workshopBanner {
        height: 430px;
        width: 100%;
        display: grid;
        flex-direction: row;
        grid-template-rows: 170px 75px 75px;
        grid-template-areas:
            "workshopImage workshopTitle workshopTitle"
            "workshopImage synopsis ."
            "workshopImage . button"
        
    }

}
@media only screen and (max-width: 600px) {
    .banner_text {
        display: inline;
        margin-top: 30px;
    }
    .home_image {
        position: absolute;
        width: 100%;
        max-width: 1300px;
        height: 400px;
        object-fit: cover;
        object-position: 0 0;
    }
    .titleSize {
        font-size: 30px;
    }

    .title {
        display: flex;
        justify-content: right;
        position: relative;
        margin: 0 10px 375px auto;
        z-index: 1;
    }
    .titleWorkshop {
        position: relative;
        margin: 0 10px 375px auto;
        grid-area: workshopTitle;
    }
    .upcoming_show_banner {
        max-width: 800px;
        border: solid #000000 1px;
        border-radius: 50px;
        margin: 0 ;
    }
    .workshopMain {
        display: flex;
       flex-direction: column;

    }  
    .workshop_image {
        width: 250px;
        height: 280px;
        object-position: 100% 0;
    }
    .workshopBanner {
        height: 280px;
        width: 100%;
        display: grid;
        flex-direction: row;
        grid-template-rows: 113px 50px 50px;
        grid-template-areas:
            "workshopImage workshopTitle workshopTitle"
            "workshopImage synopsis ."
            "workshopImage . button"
        
    }
}